@import "tailwindcss";
@import "@nuxt/ui";
@plugin "daisyui";
*{
  cursor: url('/image6.png'), auto !important;
}
.booker-title {
  color: #FC789F;
  -webkit-text-stroke: 2px #000;
  text-stroke: 2px #000;
  font-family: 'Courier New', Courier, monospace;
}
.booker-subtitle {
  color: #F9F6EE;
  -webkit-text-stroke: 1px #FC789F;
  text-stroke: 2px #F9F6EE;
  font-family: 'Courier New', Courier, monospace;
}